*,
*:after,
*:before{
  box-sizing: border-box;
}
body{
  font-family: 'Gilroy', sans-serif;
  background: #fcffff;
}
img{
  max-width: 100%;
  height: auto;
}
ul,
ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin-top: 0;
  margin-bottom: 0;
}
button{
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
button:focus{
  border: 3px dashed rgb(255, 47, 47);
}
a{
  text-decoration: none;
  outline: none;
}
a:focus{
  border: 2px dashed rgb(255, 47, 47);
}
.container{
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px){
  .container {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}
.page-header{
  border-color: #fafafa;
  padding-top: 28px;
}
@media (min-width: 992px){
  .page-header{
    padding-top: 38px;
  }
}
.page-nav-link{
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}
.page-nav-link:hover,
.header-logo:hover,
.footer-list-link:hover{
  background-color: #f5ad5628;
}
.footer-icon:hover{
  color: #f7941e;
}
.header-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 25px;
}
.page-nav-list-item{
  padding-bottom: 7px;
}
.header-button{
  border: 1px solid #f7941e;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #F7941E;
  padding: 10px 24px;
  margin-bottom: 15px;
}
.header-button:hover{
  background-color: #f7941e;
  color: #fff;
}
.header-button:active{
  background-color: #7c4d13;
}
@media (min-width: 576px){
  .header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 
}
@media (min-width: 992px){
  .page-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 47px;
  }
  .page-nav-list-item{
    padding-bottom: 0;
    padding-right: 31px;
  } 
}
.hero-section{
  background-color: #F1F1F2;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 768px){
  .hero-section{
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.main-title{
  font-size: 40px;
  font-weight: 600;
}
@media (min-width: 768px){
  .main-title{
    font-size: 48px;
  }
}
@media (min-width: 1200px){
  .main-title{
    font-size: 56px;
  }
}
.hero-section{
  text-align: center;
}
@media (min-width: 992px){
  .hero-flex{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    text-align: left;
  }
  .hero-col{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
} 
.hero-section-button{
  background: #F7941E;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 30px;
  margin-bottom: 30px;
}
.hero-section-button:hover{
  background-color: white;
  border: 1px solid #f7941e;
  color: #f7941e;
}
.hero-section-button:active{
  background-color: #7c4d13;
}
.simle-text{
  font-size: 16px;
  line-height: 1.2;
}
@media (min-width: 576px){
  .hero-section-button{
    font-size: 18px;
    line-height: 1.2;
    padding: 19px 35px;
  }
}
@media (min-width: 768px){
  .simle-text{
    font-size: 20px;
  }
}
@media (min-width: 1200px){
  .col-4{
    width: 33.33333%;
    margin-right: 185px;
  }
}
@media (min-width: 992px){
  .simle-text{
    margin-top: 36px;
    margin-bottom: 52px;
  }
}
.about-work-section{
  background: #F1F1F2;
}
.about-work-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-work-wrap{
  order: -1;
  text-align: center;
}
.about-work-text{
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}
.about-work-title{
  font-size: 26px;
  line-height: 1.4;
  font-weight: normal;
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 768px){
  .about-work-title{
  font-size: 32px;
  }
  .about-work-text{
  font-size: 20px;
  }
}
.about-work-button{
  border: 1px solid #F7941E;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #F7941E;
  padding: 17px 45px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.about-work-button:hover{
  background-color: #f7941e;
  color: #fff;
}
.about-work-button:active{
  background-color: #7c4d13;
}
.about-work-img{
  margin-bottom: 40px;
}
@media (min-width: 992px){
  .about-work-flex{
  flex-direction: row;
  }
  .about-work-img{
    width: 50%;
    margin-right: 120px;
  }
  .about-work-wrap{
    order: 1;
    width: 41.66666%;
  }
  .about-work-button{
  margin-top: 23px;
  margin-bottom: 35px;
  }
  .about-work-title{
  margin-top: 0;
  }
  .about-work-section{
    padding-bottom: 70px;
  }
  .about-work-wrap{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
}
.gifts-section{
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (min-width: 1200px){
  .about-work-title{
    margin-top: 64px;
  }
}
@media (min-width: 768px){
  .gifts-section{
    padding-top: 96px;
    padding-bottom: 136px;
  }
}
.gifts-title{
  font-size: 26px;
  line-height: 32px;
  font-weight: normal;
  text-align: center;
}
.gifts-text{
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 32px;
}
@media (min-width: 768px){
  .gifts-title{
    font-size: 32px;
    line-height: 38px;
  }
  .gifts-text{
    font-size: 18px;
    line-height: 1.3;
    margin-top: 23px;
    margin-bottom: 64px;
  }
}
.gifts-list{
  display: flex;
  flex-direction: column;
}
.gifts-card{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.gifts-card:hover{
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}
.gifts-card-inner{
  display: flex;
  flex-direction: column;
  min-height: 166px;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.gifts-card-name{
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.gifts-card-link{
  font-size: 12px;
  line-height: 1.3;
  color: #000000;
}
@media (min-width: 768px){
  .gifts-list{
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  }
  .gifts-list-item{
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  }
  .gifts-card-name{
    font-size: 20px;
  }
  .gifts-card-link{
    font-size: 14px;
  }
  .gifts-card-name{
    text-align: left;
  }
}
@media (min-width: 992px){
  .gifts-list-item{
    width: 25%;
  }
}
.start-section{
  background-color: #F7941E;
  padding-top: 50px;
  padding-bottom: 50px;
}
.start-section-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-text-container{
  text-align: center;
}
.start-text-container{
  font-size: 24px;
  line-height: 1.4;
}
.start-section-text{
margin-top: 0;
}
@media (min-width: 576px){
  .start-text-container{
    font-size: 28px;
  }
}
@media (min-width: 768px){
  .start-text-container{
    font-size: 30px;
  }
}
@media (min-width: 992px){
  .start-text-container{
    font-size: 32px;
  }
}
.start-section-button{
  background: #231F20;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.3;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 12px 34px;
  margin-bottom: 20px;
}
.start-section-button:hover{
  background-color: rgba(255, 255, 255, 0.788);
  color: black;
  border: 1px solid black;
}
.start-section-button:active{
  background-color: rgba(51, 42, 42, 0.507);
}
.start-section-button-alt{
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 12px 34px;
}
.start-section-button-alt:hover{
  background-color: rgba(255, 255, 255, 0.788);
  color: black;
  border: 1px solid black;
}
.start-section-button-alt:active{
  background-color: rgba(51, 42, 42, 0.507);
}
.start-section-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px){
  .start-section-buttons{
    flex-direction: row;
  }
  .start-section-button{
  margin-bottom: 0;
  margin-right: 16px;
  }
}
@media (min-width: 992px){
  .start-section-flex{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .start-section{
    padding-top: 80px;
    padding-bottom: 38px;
  }
}
.blogs-section{
  margin-top: 50px;
  margin-bottom: 50px;
}
.blogs-section-title{
  font-size: 26px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.blogs-section-text{
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 576px){
  .blogs-section-title{
    font-size: 28px;
    line-height: 1.2;
  }
}   
@media (min-width: 768px){
  .blogs-section-text{
    font-size: 16px;
  }
  .blogs-section-title{
    font-size: 30px;
  }
}  
@media (min-width: 992px){
.blogs-section-text{
  font-size: 18px;
  }
  .blogs-section-title{
    font-size: 32px;
  }
}
.card-blog-text{
  background-color: #231F20;
  text-align: center;
  padding: 30px 30px;
}
.card-blog-name{
  font-size: 14px;
  line-height: 1.4%;
  color: #fff;
}
.card-blog-title{
  font-size: 34px;
  line-height: 1.2;
  color: #FFFFFF;
}
@media (min-width: 768px){
  .card-blog-title{
    font-size: 40px;
  }
}  
@media (min-width: 992px){
  .card-blog-title{
    font-size: 44px;
  }
} 
@media (min-width: 1200px){
  .card-blog-title{
    font-size: 48px;
  }
} 
.card-blog-link{
font-size: 18px;
line-height: 1.4;
color: #FFFFFF;
}
.card-blog{
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px){
  .card-blog{
    flex-direction: row;
    margin-top: 50px;
  }
  .blogs-section-img{
    width: 40%;
  }
  .card-blog-text{
    padding: 20px 20px 20px;
    text-align: left;
  }
  .card-blog-title{
    font-size: 36px;
  }
} 
@media (min-width: 992px){
  .blogs-section-img{
    width: 35%;
  }
  .card-blog-text{
    padding: 40px 60px 30px;
  }
  .card-blog-title{
    margin-top: 27px;
    margin-bottom: 60px;
    font-size: 40px;
    padding-right: 20px;
  }
  .blogs-section-title{
    margin-bottom: 23px;
  }
  .blogs-section-text{
    margin-top: 0;
  }
} 
@media (min-width: 1200px){
  .blogs-section-img{
    width: 33.3333%;
  }
  .card-blog-text{
    padding: 63px 178px 49px 100px;
  }
  .card-blog-title{
    padding-right: 0;
    font-size: 48px;
  }
} 
.card-section{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.blogs-section-card{
  padding: 20px;

}
.blogs-section-card:hover{
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.blogs-section-card-title{
  font-size: 24px;
  line-height: 1.4;
}
.blogs-section-card-text{
  font-size: 18px;
  line-height: 1.4;
}
.blogs-section-card-link{
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
}
@media (min-width: 768px){
  .card-section{
    flex-direction: row;
  }
  .blogs-section-card-title{
    font-size: 20px;
  }
  .blogs-section-card-text{
    font-size: 14px;
  }
}
@media (min-width: 992px){
.blogs-section-card{
 padding: 40px;
  }
}
@media (min-width: 1200px){
  .blogs-section-card{
    padding: 48px;
  }
  .blogs-section-card-title{
    font-size: 24px;
  }
  .blogs-section-card-text{
    font-size: 18px;
  }
}
.footer-section{
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 70px;
  padding-left: 70px;
}
.footer-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}
.footer-list-item{
  padding-bottom: 15px;
}
.footer-list-link{
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  color: #000;
}
.logo-footer{
  order: -1;
}
@media (min-width: 768px){
.footer-list{
  flex-direction: row;
  justify-content:space-around;
  }
  .logo-footer{
    order: 0;
  }
  .footer-section{
    padding-top: 115px;
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media (min-width: 1200px){
  .footer-list{
    justify-content:space-evenly;
    }
}
.footer-social-list{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-social-item{
  margin-right: 10px;
  margin-left: 10px;
}
.footer-icon{
  font-size: 28px;
  color: #000;
}
@media (min-width: 576px){
  .footer-icon{
    font-size: 32px;
  }
  .footer-social-item{
    margin-right: 13px;
    margin-left: 13px;
  }
}
@media (min-width: 768px){
  .footer-icon{
    font-size: 38px;
  }
  .footer-social-list{
    margin-top: 55px;
    margin-bottom: 70px;
  }
}
.footer-copyright{
  display: block;
  text-align: center;
  font-size: 11px;
  line-height: 1.4;
}
@media (min-width: 768px){
  .footer-copyright{
    font-size: 14px;
  }
}